window {
    margin: 0px;
    border: 2px solid #bd93f9;
    background-color: rgba(15, 15, 24, 0.9);
    border-radius: 15px;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #282a36;
    border-radius: 10px;
}


#inner-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #313244;
    border-radius: 5px;
}